
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutTrangChu.cshtml";
}
<style>
    body{
        margin-top: 80px;
        background-image: url('/images/IndexAdmin.jpg');
        background-repeat: repeat;
    }

    h2{
        padding-top: 70px;
        height: 700px;
        text-align:center;
        color: coral;
        font-size: 50px;
    }
</style>

<body>
    <h2></h2>
</body>